html,
body,
div,
h1,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft Yahei";
    font-size: 62.5%;
	overflow: hidden;
}

.activity-info {
    color: #898989;
}

.font-big {
    margin-top: 30px;
    font-size: 1.9em;
    color: #000;
}

.font-medium {
    font-size: 1.4em;
}

.font-small {
    font-size: 1.2em;
    margin: 20px 0 25px 0;
}

.font-bold {
    font-weight: 400;
}

.activity-content {
    position: relative;
    margin: 0 auto 46px auto;
}

.activity-content img {
    display: block;
    border: 0;
}

.activity-content p {
    padding: 0 2.5%;
}

#ac-picture {
    position: relative;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.activity-info {
    width: 92%;
    margin: 0 auto 46px auto;
}

.tempbox {
    display: none;
}

.activity-info > div > div {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

#head-pic {
    padding-bottom: 15%;
    margin-right: 10px;
    width: 15%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

#ac-slogan,
#ac-time,
#ac-address {
    margin: 1.5px 0 15px 0;
}

#ac-slogan {
    overflow: hidden;
}

#ac-time,
#ac-address {
    color: #000;
}

#ac-organization {
    color: #4e4e4e;
}

.activity-relative,
.product-relative {
    margin-bottom: 50px;
    text-align: center;
}

.activity-relative p,
.product-relative p {
    margin-bottom: 20px;
    font-size: 1.4em;
    color: #4e4e4e;
}

.activity-relative .img-wrapper img {
    width: 100%;
    display: block;
    border: 0;
}

.product-relative .img-wrapper div {
    display: inline-block;
    width: 29%;
}

.product-relative .img-wrapper div img {
    width: 100%;
}

.product-relative .img-wrapper div + div {
    margin-left: 4%;
}


/*SVG*/

#svg-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

svg path,
svg rect {
    fill: #3C3B3A;
}